body {
	padding: 40px 40px 40px 40px;
	border:20px solid black;
	margin:48px 0px 48px 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y:auto;
	background-image: url(ahmedbackground.png);
}
h1, h2 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
h2 {
  border-bottom: 1px solid #CCCCCC;
  margin: 10px 0 15px 0;
  font-size: 30px;
	font-style: italic;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

p {
  color: black;
}

#intro{
	text-align: left;
}
.degree, .experience{
	font-style: italic;
}
